{% extends 'expert/base.html' %}
{% load static %}

{% block custom_css %}
<style>
    .scrollable-dropdown-menu {
        height: auto;
        max-height: 250px;
        overflow-x: hidden;
    }
</style>
{% endblock %}

{% block custom_navbar %}
<li class="nav-item"><a class="nav-link btn btn-sm btn-outline-primary mr-1" type="button" href="{{ invoice.get_printable_url }}"><i class="fa fa-print"></i> Get Printable</a></li>
<li class="nav-item"><a class="nav-link btn btn-sm btn-outline-primary mr-1" type="button" href="{{ invoice.get_update_url }}"><i class="fa fa-pencil"></i> Edit</a></li>
{% endblock %}

{% block main_content %}
<div class="container pt-4">
    <div class="p-2 h3 text-center">
        Overview of Invoice {{ invoice.number }}<br>
        <span class="small text-secondary">To: {{ invoice.challans.first.customer.name }}</span><br>
        <span class="text-secondary small">{{ invoice.date_sent }}</span>
    </div>
    <div class="row pt-2 pl-1">
        <div class="list-group col-xl-6 col-lg-8 mx-auto">
            {% for challan in invoice.challans.all %}
            <div class="list-group-item list-group-item-action d-flex justify-content-between">
                <span class="font-weight-bold">{{ challan.number }}</span>
                <span class="text-secondary small">{{ challan.date_sent }}</span>
                <span>
                    <a href="{% url 'invoice:remove-challan' invoice_pk=invoice.pk challan_pk=challan.pk %}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash fa-lg"></i></a>
                </span>
            </div>
            {% endfor %}
            <div class="dropdown">
                <button class="list-group-item list-group-item-action list-group-item-info text-center dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add New Challan
                </button>
                <div class="dropdown-menu list-group-item-action scrollable-dropdown-menu py-0 my-0" aria-labelledby="dropdown1">
                    {% for challan in challan_list %}
                    <a href="{% url 'invoice:add-challan' invoice_pk=invoice.pk challan_pk=challan.pk %}" class="d-flex dropdown-item list-group-item list-group-item-action">
                        <span>{{ challan.number }}</span>
                        <span class="ml-auto">{{ challan.date_sent }}</span>
                        <span class="ml-auto small text-secondary" style="font-size: .75rem;">{{ challan.customer.name }}</span>
                    </a>
                    {% empty %}
                    <a class="dropdown-item list-group-item list-group-item-action text-center">No more Challans to show</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}