{% extends 'expert/base.html' %}
{% load static %}

{# blocks changes so that challan is printed normally without the side navbar interfering #}
{% block custom_js %}
<script>
    $(document).ready(function() {
        $('#main_content').removeClass('col-md-10 col-xl-11 col-9').addClass('col');
        $('#btn-sidebar-expand').hide();
    });
</script>
{% endblock %}

{% block navbar-side %}
<div class="d-none"></div>
{% endblock %}

{% block custom_navbar %}
<!-- <div class="btn-group"> -->
	<li class="nav-item"><a class="nav-link btn btn-outline-primary btn-sm mr-1" type="button" href="javascript:window.print();"><i class="fa fa-print"></i> Print</a></li>
	<li class="nav-item"><a class="nav-link btn btn-outline-secondary btn-sm mr-1" type="button" href="{{ challan.get_absolute_url }}"><i class="fa fa-arrow-left"></i> Back</a></li>
<!-- </div> -->
{% endblock %}

{% block custom_css %}
<style>
    .color-duplicate {
        color: #d63a4f;
    }
    .color-triplicate {
        color: #e3ce30;
    }
    @media print {
        main {
            font-size: 17px;
        }
        #btn-sidebar-expand, #btn-sidebar-collapse {
            display: none;
        }
    }
</style>
{% endblock %}

{% block main_content %}
<div class="container border">
    <div class="row">
        <div class="col-10">
            <center class="h2 mt-1" style="font-size: 2.5rem;">Expert<span><img class="img-fluid" width="60" height="60" src="{% static 'expert/images/logo.png' %}"></span>Traders</center>
            <center class="small">J-142, 1st Floor, Sumel-6, Dhudheshwar, Ahmedabad-380004</center>
            <center class="small"><u>expertcovers2020@gmail.com</u> <b>9839085886</b>, 9660589909</center>
            <center class="small">GSTN: 24AAPPT3833R1ZT</center>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mt-2">
            <center class="h3">Delivery Challan</center>
        </div>
        <div class="col-2">
            <table class="table table-bordered table-sm">
                <tr>
                    <td colspan="2" class="text-center font-weight-bold color-{{ request.GET.param_copy }}">
                        {% if request.GET.param_copy %}
                        {{ request.GET.param_copy|title }}
                        {% else %}
                        Original
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">{{ challan.date_sent |date:"d.m.Y" }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="border">
                Challan No. <b>{{ challan.number }}/20-21</b>
            </div>
            <div class="border">STATE CODE - 24 GUJ.</div>
            <div class="border">
                To, <span class="font-weight-bold">{{ challan.customer.name }}</span> (100% EOU)<br>
                {{ challan.customer.address1 }}, {{ challan.customer.address2 }}<br>
                GSTN No. {{ challan.customer.gstn }} ; IEC : {{ challan.customer.iec }}
            </div>
            <div class="border font-weight-bold">
                FOR REF. No. {{ challan.products.first.kit.number }}/{{ challan.products.first.kit.date_received|date:"d.m.Y" }}
            </div>
        </div>
        <div class="col-5">
            <table class="table table-bordered table-sm">
                <tr>
                    <td>Despatched through</td>
                    <td class="font-weight-bold">Tempo</td>
                </tr>
                <tr>
                    <td>Vehicle No.</td>
                    <td class="font-weight-bold">GJ-18-AU-4157</td>
                </tr>
                <tr>
                    <td>Date/Time</td>
                    <td class="font-weight-bold">{{ challan.date_sent | date:"d.m.Y" }}</td>
                </tr>
                <tr>
                    <td>Destination No.</td>
                    <td class="font-weight-bold">Gandhinagar</td>
                </tr>
                <tr>
                    <td>Invoice No.</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>SL</th>
                        <th>Order No.</th>
                        <th>Kit No.</th>
                        <th>Sub Kit</th>
                        <th>Qty</th>
                        <th>Sq.Ft</th>
                        <th>Fabric</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in challan.products.all %}
                    {% if not product.return_remark %}
                    <tr class="text-center">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.order_number }}</td>
                        <td>{{ product.kit.number }}</td>
                        <td></td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.size }}</td>
                        <td>{{ product.get_fabric_display }}</td>
                        <td>{{ product.get_color_display }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="border text-center"><b>{{ challan.get_total_quantity }}</b></th>
                        <th class="border text-center"><b>{{ challan.get_total_size }}</b></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col text-center">
            <table class="table table-bordered table-sm">
                <tr>
                    <th>Max</th>
                    <td>{{ groupby_fabric.max.quantity }}</td>
                    <td>{{ groupby_fabric.max.size }}</td>
                </tr>
                <tr>
                    <th>Tuff</th>
                    <td>{{ groupby_fabric.tuff.quantity }}</td>
                    <td>{{ groupby_fabric.tuff.size }}</td>
                </tr>
                <tr>
                    <th>Fab</th>
                    <td>{{ groupby_fabric.fab.quantity }}</td>
                    <td>{{ groupby_fabric.fab.size }}</td>
                </tr>
                <tr>
                    <th>Clear</th>
                    <td>{{ groupby_fabric.clear.quantity }}</td>
                    <td>{{ groupby_fabric.clear.size }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td><b>{{ challan.get_total_quantity }}</b></td>
                    <td><b>{{ challan.get_total_size }}</b></td>
                </tr>
            </table>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col text-center">
            <span>Kit returned due to UnProcessed / Semi-Processed / Cutting Mistake</span>
            <table class="table table-sm table-bordered mt-2">
                {% for product in challan.products.all %}
                {% if product.return_remark %}
                <tr>
                    <td>{{ product.order_number }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.size }}</td>
                    <td>{{ product.get_fabric_display }}</td>
                    <td>{{ product.get_color_display }}</td>
                    <td>{{ product.get_return_remark_display }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tfoot>
                    <tr>
                        <td></td>
                        <th>{{ challan.get_return_quantity }}</th>
                        <th>{{ challan.get_return_size }}</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <center class="border">Receivers sign and stamp</center>
        </div>
        <div class="col">
            <center class="border">Expert Traders</center>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center small">
            <span>This is a Computer Generated Invoice.</span>
            <span>No Signature Required.</span>
        </div>
    </div>
</div>
{% endblock %}
