{% extends 'expert/base.html' %}
{% load static %}
{% load add_attr %}

{% block custom_js %}
<script>
	$(document).ready(function() {
		$('#btn-update').on('click', function(e) {
			e.preventDefault();
			$('#btn-submit').click();
		});
	});
</script>
{% endblock %}

{% block custom_navbar %}
<li class="nav-item"><a class="nav-link btn btn-success btn-sm mr-1" type="button" href="" id="btn-update"><i class="fa fa-pencil-square-o"></i> Update</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-secondary btn-sm mr-1" type="button" href="{{ product.get_absolute_url }}"><i class="fa fa-arrow-left"></i> Back</a></li>
{% endblock %}

{% block main_content %}
<div class="container d-flex justify-content-centerc col-11 col-md-9 col-lg-8 col-xl-7">
	<div class="col">
		<div class="heading text-center my-4 h3">Update Product - {{ product.order_number }}</div>
		<form method="post" autocomplete="off">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group row">
				<label for="{{ field.id_for_label }}" class="col-4 col-form-label">{{ field.label }}</label>
				<div class="col-8">
                    {% if field.errors %}
                    <small class="form-text text-danger font-weight-bold">{{ field.errors }}</small>
                    {{ field|add_attr:"form-control border border-danger" }}
                    {% else %}
					{{ field|add_attr:"form-control" }}
                    {% endif %}
					{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			<div class="form-group row d-flex justify-content-center">
				<button type="submit" class="btn btn-outline-success w-50 d-none" id="btn-submit">Update</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
