{% extends 'expert/base.html' %}
{% load static %}

{% block custom_navbar %}
<li class="nav-item"><a class="nav-link btn btn-outline-info btn-sm mr-1" type="button" href="{{ Salary.get_list_url }}?worker_pk={{ worker.pk }}"><i class="fa fa-money"></i> Salary</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-success btn-sm mr-1" type="button" href="{{ Salary.get_create_url }}?worker_pk={{ worker.pk }}"><i class="fa fa-plus"></i> Add New</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-primary btn-sm mr-1" type="button" href="{{ worker.get_update_url }}"><i class="fa fa-pencil"></i> Edit</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-danger btn-sm mr-1" type="button" href="{{ worker.get_delete_url }}"><i class="fa fa-trash"></i> Delete</a></li>
{% endblock %}

{% block custom_js %}
<script>
	function getTableURL(date_from, date_to, type) {
		return("{% url 'worker:api-report' pk=worker.pk %}?date_from="+date_from+"&date_to="+date_to+"&type="+type);
	}
	var table;
	$(document).ready(function() {
		var date_from="2020-05-01", date_to="2020-05-01", type="all";
		$('#id_date_from').change(function() {
			date_from = $(this).val();
			table.ajax.url(getTableURL(date_from, date_to, type)).load();
		});
		$('#id_date_to').change(function() {
			date_to = $(this).val();
			table.ajax.url(getTableURL(date_from, date_to, type)).load();
		});
		$('#id_type').change(function() {
			type = $(this).val();
			table.ajax.url(getTableURL(date_from, date_to, type)).load();
		})
		table = $('#worker-detail-table').DataTable({
			'ajax': {
				'url': getTableURL(date_from, date_to, type),
			},
			'drawCallback': function(settings) {
				var api = this.api();
				var data = api.rows().data();
				var total_qty=0, total_size=0;
				if (data.length > 0) {
					for (var i=0; i<data.length; i++) {
						total_qty += data[i][3];
						total_size += data[i][4];
					}
					$('#worker-detail-table tfoot .quantity').html(total_qty);
					total_size = Math.round((total_size + Number.EPSILON)*100) / 100;
					$('#worker-detail-table tfoot .size').html(total_size);
				}
			},
			'createdRow': function(row, data, index) {
				// made the first col of the table (kit number)
				// clickable and pointing to the kit detail view
				$('td', row).eq(0).addClass('clickable');
				$('td', row).eq(0).on('click', function(e) {
					location.href = "/kit/"+data[0]+"/view/";
				});
				// the 5th col is the status col
				if (data[5] == "Completed") {
					$('td', row).eq(5).addClass('completed');
				}
				else {
					$('td', row).eq(5).addClass('returned');
				}
			}
		});
	});
</script>
{% endblock %}

{% block custom_css %}
<style>
	td.clickable {
		cursor: pointer;
	}
	td.clickable:hover {
		font-weight: bold;
		font-size: 1.1em;
		background-color: whitesmoke;
	}
	td.completed, td.returned {
		color: white;
		text-align: center;
	}
	td.completed {
		background-color: green;
	}
	td.returned {
		background-color: red;
	}
</style>
{% endblock %}

{% block main_content %}
<div class="container">
	<div class="row py-4">
		<div class="col-6">
			<div class="image_container">
				{% if worker.photo %}
				<img class="img-fluid" alt="worker photo" src="{{ worker.photo.url }}" width="200" height="200">
				{% else %}
				<img class="img-fluid" src="{% static 'expert/images/default_user_image.jpg' %}" width="200" height="200">
				{% endif %}
			</div>
		</div>
		<div class="col-6">
			<span class="h3">{{ worker.fullname }}</span>
			<br>
			<small>Joined since - {{ worker.date_joined }}</small>
			<br>
			<span>{{ worker.address }}</span>
			<br>
			{% if worker.aadhar_number %}
			<span>Aadhar Number -- {{ worker.aadhar_number }}</span>
			{% endif %}
			<br>
			{% if worker.mobile_number %}
			<span><i class="fa fa-mobile"></i> Mobile -- {{ worker.mobile_number }}</span>
			<br>
			{% endif %}
			<!-- {% if worker.fixed_rate %}
			<br>
			<span>Fixed Rate -- <i class="fa fa-inr"></i>{{ worker.fixed_rate }} / Month</span>
			{% else %}
			<br>
			<span>Rate -- <i class="fa fa-inr"></i>{{ worker.variable_rate }} / Sq.Ft.</span>
			{% endif %} -->
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="my-3">
				<input type="text" class="form-control col-3 d-inline" id="id_date_from" placeholder="From Date">
				<input type="text" class="form-control col-3 d-inline" id="id_date_to" placeholder="To Date">
				<select class="form-control col-3 d-inline" id="id_type">
					<option value="all">All</option>
					<option value="completed">Completed</option>
					<option value="returned">Returned</option>
				</select>
			</div>
			<div>
				<table class="table table-hover table-sm table-bordered table-striped" id="worker-detail-table">
					<thead>
						<tr>
							<th>#</th>
							<th>Product #</th>
							<th>Date</th>
							<th>Qty</th>
							<th>Sq.Ft.</th>
							<th>Status</th>
							<th>Remark</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>#</th>
							<th>Product #</th>
							<th>Date</th>
							<th class="quantity">Qty</th>
							<th class="size">Sq.Ft.</th>
							<th class="status">Status</th>
							<th class="remark">Remark</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}