{% extends 'expert/base.html' %}
{% load static %}

{% block custom_navbar %}
<li class="nav-item"><a class="nav-link btn btn-outline-info btn-sm mr-1" type="button" href="{{ Salary.get_list_url }}?worker_pk={{ worker.pk }}"><i class="fa fa-money"></i> Salary</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-success btn-sm mr-1" type="button" href="{{ Salary.get_create_url }}?worker_pk={{ worker.pk }}"><i class="fa fa-plus"></i> Add New</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-primary btn-sm mr-1" type="button" href="{{ worker.get_update_url }}"><i class="fa fa-pencil"></i> Edit</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-danger btn-sm mr-1" type="button" href="{{ worker.get_delete_url }}"><i class="fa fa-trash"></i> Delete</a></li>
{% endblock %}

{% block main_content %}
<div class="container">
	<div class="row py-4">
		<div class="col-6">
			<div class="image_container">
				{% if worker.photo %}
				<img class="img-fluid" alt="worker photo" src="{{ worker.photo.url }}" width="200" height="200">
				{% else %}
				<img class="img-fluid" src="{% static 'expert/images/default_user_image.jpg' %}" width="200" height="200">
				{% endif %}
			</div>
		</div>
		<div class="col-6">
			<span class="h3">{{ worker.fullname }}</span>
			<br>
			<small>Joined since - {{ worker.date_joined }}</small>
			<br>
			<span>{{ worker.address }}</span>
			<!-- {% if worker.fixed_rate %}
			<br>
			<span>Fixed Rate -- <i class="fa fa-inr"></i>{{ worker.fixed_rate }} / Month</span>
			{% else %}
			<br>
			<span>Rate -- <i class="fa fa-inr"></i>{{ worker.variable_rate }} / Sq.Ft.</span>
			{% endif %} -->
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="table-responsive">
				<table class="table table-hover table-sm table-bordered table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Product #</th>
							<th>Date</th>
							<th>Size</th>
						</tr>
					</thead>
					<tbody>
						{% for product in product_list %}
						{% ifchanged product.kit.id %}
						<tr>
							<th colspan="4" class="text-center font-weight-bold h5">
								<a href="{{ product.kit.get_absolute_url }}">{{ product.kit.number }}</a>
							</th>
						</tr>
						{% endifchanged %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>
								<a href="{{ product.get_absolute_url }}">{{ product.order_number }}</a>
							</td>
							<td>{{ product.date_completed }}</td>
							<td>{{ product.size }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}