{% extends 'expert/base.html' %}
{% load static %}

{% block custom_css %}
<style>
    .dropdown:hover > .dropdown-menu {
        /* This is so that the active dropdown-menu doesnt
        become inactive when moving the mouse from top to bottom
        as there is a small space between a.dropdown-toggle and div.dropdown-menu
        this -ve margin will eliminate this space. Go ahead and try this with or without it! */
        margin-top: -1px;
        display: block;
    }
</style>
{% endblock %}

{% block custom_navbar %}
<li class="nav-item">
    <div class="dropdown mr-1">
        <a class="nav-link btn btn-outline-success btn-sm dropdown-toggle" href="#" id="navbarCopyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-print"></i> Get Printable
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarCopyDropdown">
            <a class="text-light dropdown-item" href="{% url 'expert:challan-printable' slug=challan.number %}?param_copy=original">Original Copy</a>
            <a class="text-light dropdown-item" href="{% url 'expert:challan-printable' slug=challan.number %}?param_copy=duplicate">Duplicate Copy</a>
            <a class="text-light dropdown-item" href="{% url 'expert:challan-printable' slug=challan.number %}?param_copy=triplicate">Triplicate Copy</a>
        </div>
    </div>
</li>
{% if challan.products.all.first.kit.jobwork_gatepass_processed %}
<li class="nav-item"><a class="nav-link btn btn-outline-primary btn-sm mr-1" type="button" href="{{ challan.products.all.first.kit.jobwork_gatepass_processed.url }}" target="_blank"><i class="fa fa-download"></i> Gatepass</a> </li>
{% elif challan.products.all.first.kit.jobwork_gatepass %}
<li class="nav-item"><a class="nav-link btn btn-outline-primary btn-sm mr-1" type="button" href="{% url 'expert:challan-gatepass' pk=challan.id %}">Gatepass</a> </li>
{% endif %}
<li class="nav-item"><a class="nav-link btn btn-outline-danger btn-sm mr-1" type="button" href="{% url 'expert:challan-delete' slug=challan.number %}"><i class="fa fa-ban"></i> Cancel</a> </li>
{% endblock %}

{% block main_content %}
<div class="container py-4">
    <div class="row">
        <div class="col heading h5">
            <div class="text-center">
                Challan #: {{ challan.number }}<br>
                For Ref. #: {{ challan.products.all.first.kit }}<br>
                For Date: {{ challan.date_sent }}
            </div>
        </div>
    </div>
    <div clas="row">
        <div class="list-group col-xl-7 col-lg-8 mx-auto">
            {% for product in challan.products.all %}
            <a href="{{ product.get_absolute_url }}" class="font-italic list-group-item list-group-item-action d-flex justify-content-between">
                <span class="font-weight-bold">{{ product.order_number }}</span>
                <span class="text-secondary small">{{ product.date_completed }}</span>
                {% if product.return_remark %}
                <span class="badge badge-danger badge-pill">returned</span>
                {% else %}
                <span class="badge badge-transparent badge-pill">&nbsp;</span>
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
