{% extends 'expert/base.html' %}
{% load static %}
{% load humanize %}

{% block main_content %}
<div class="container p-0">
    <div class="p-3 h2 text-center m-0">
        List of Challans
    </div>
    <div class="row mt-3">
        <div class="list-group col-xl-6 col-lg-8 mx-auto font-italic">
            {% for challan in challan_list %}
                <a href="{{ challan.get_absolute_url }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" title="">
                    <span class="font-weight-bold">{{ challan.number }}</span>
                    <span class="small text-secondary">{{ challan.date_sent|naturalday|title }}</span>
                    <span class="badge badge-success badge-pill">{{ challan.products.all.count }}</span>
                </a>
            {% endfor %}
            {# <a href="" class="list-group-item list-group-item-action text-center list-group-item-info">Add New</a> #}
        </div>
    </div>
</div>
{% endblock %}
