{% extends 'expert/base.html' %}
{% load static %}

{% block custom_navbar %}
<div class="navbar-nav">
	<a class="btn btn-outline-primary btn-sm mr-1" type="button" href="{% url 'expert:challan-printable' slug=challan.number %}"><i class="fa fa-print"></i> Get Printable</a>
	<a class="btn btn-outline-danger btn-sm mr-1" type="button" href="{% url 'expert:challan-delete' slug=challan.number %}"><i class="fa fa-ban"></i> Cancel</a>
</div>
{% endblock %}

{% block main_content %}
<div class="container pt-4">
    <div clas="row">
        <div class="list-group w-75 mx-auto border">
            {% for product in challan.products.all %}
            <a href="{{ product.get_absolute_url }}" class="list-group-item list-group-item-action d-flex justify-content-between">
                <span>{{ product.order_number }}</span>
                <span>{{ product.date_completed }}</span>
                {% if product.return_remark %}
                <span class="badge badge-danger badge-pill">returned</span>
                {% else %}
                <span class="badge badge-transparent badge-pill">&nbsp;</span>
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
    {% comment %}
        
    <center class="mt-4 h2">Overview of Challan - {{ challan.number }}</center>
    <ul>
        {% for product in challan.products.all %}
        <li class="{% if product.return_remark %}bg-warning{% endif %}"><a href="{{ product.get_absolute_url }}">{{ product.order_number }}</a> - {{ product.size }} (By {{ product.completedby.get_fullname }})</li>
        {% endfor %}
    </ul>
    <br><br>
    {% endcomment %}
</div>
{% endblock %}
