{% extends 'expert/base.html' %}
{% load static %}
{% load add_attr %}

{% block custom_css %}
<style>
	footer {
		/* just behind the sidebar but above everything else */
		z-index: 101;
		position: fixed;
		left: 0;
		bottom: 0;
	}
</style>
{% endblock %}

{% block main_content %}
<div class="container text-center mt-4">
	<div class="heading h4">
		JobWork Software by KT Software Solutions
	</div>
</div>
<footer class="bg-dark text-light py-2 w-100">
	<div class="text-center text-secondary">
		<i class="fa fa-copyright"></i> Copyright Reserved. KT Software Solutions.
		<span>
			<img class="img-fluid" width="40" height="40" src="{% static 'expert/images/logo_transparent.png' %}">
		</span>
	</div>
</footer>
{% endblock %}
