{% extends 'expert/base.html' %}
{% load static %}

{% block main_content %}
<div class="container">
	<h1>Expert Traders</h1>
	<a href="{% url 'expert:kit-list' %}">KITS</a><br>
	<a href="{% url 'expert:worker-list' %}">Workers</a><br>
	<a href="{% url 'expert:challan-list' %}">Challans</a><br>
	<a href="{% url 'expert:report-monthly' year=2020 month='Mar' %}">March Report</a><br>
	<a href="{% url 'expert:report-monthly' year=2020 month='Apr' %}">April Report</a><br>
	<a href="{% url 'expert:invoice-create' %}">Create Invoice</a>
</div>
{% endblock %}
