{% extends 'expert/base.html' %}
{% load static %}

{% block main_content %}
<div class="container border">
    <div class="row">
        <div class="col">
            <center><b>Tax Invoice</b></center>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div>
                <div><b>EXPERT TRADERS</b></div>
                <div><small>J-142, Sumel-6, Dhudheshwar, AHM-4 (GUJ)</small></div>
                <div><small>Ph No. 9839085886</small></div>
                <div><small>GSTN: 24AAPPT3833R1ZT / S-Code 24</small></div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <table class="table table-bordered table-sm">
                <tr>
                    <td>Invoice No.</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>15.03.20</td>
                </tr>
                <tr>
                    <td>Dispatched Through</td>
                    <td>Tempo</td>
                </tr>
                <tr>
                    <td>Motor V.No.</td>
                    <td>GJ-18-AU-3381</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div>
                <div><b>To, Caterpillar Signs PVT LTD (100% EOU)</b></div>
                <div><small>C-10, Electronics Estate, Sector-25, Gandhinagar</small></div>
                <div><small>Gandhinagar-382024 (Guj.), S-Code 24</small></div>
                <div><small>GSTN: 24AAECC4258M1ZH, IEC: 0811008479</small></div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <table class="table table-sm table-bordered">
                <tr>
                    <td>Destination</td>
                    <td>Gandhinagar</td>
                </tr>
                <tr>
                    <td>Supplier's Ref</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mode of Payment</td>
                    <td>7 Days</td>
                </tr>
                <tr>
                    <td>EWay Bill No.</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                Stiching Job Work on your Material as per details mentioned hereunder
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered text-center">
                <thead>
                    <tr>
                        <th>Challan No.</th>
                        <th>Date</th>
                        <th>HSN/SAC</th>
                        <th>PCS.</th>
                        <th>Max-380</th>
                        <th>Tuff-560</th>
                        <th>Fab</th>
                        <th>Total Sq.Ft.</th>
                        <th>Rate/Sq.Ft.</th>
                        <th>Total Amt.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>60</td>
                        <td>11.09.20</td>
                        <td>99822</td>
                        <td>14</td>
                        <td>337.1</td>
                        <td>636.74</td>
                        <td></td>
                        <td>973.84</td>
                        <td>3.5</td>
                        <td>3406.44</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td></td>
                        <td>105</td>
                        <td>2543.85</td>
                        <td>3330.95</td>
                        <td>0</td>
                        <td>5874.8</td>
                        <td></td>
                        <td>20561.80</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3">Add: CGST</td>
                        <td>6%</td>
                        <td>1239.71</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3">Add: SGST</td>
                        <td>6%</td>
                        <td>1239.71</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3">Add: Round off</td>
                        <td></td>
                        <td>0.71</td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            Amount Chargeble (in words)<br>
                            One sssdf sf asfe fes fd asfae se es
                        </td>
                        <td>22622.75</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered text-center">
                <tr>
                    <td rowspan="2">HSN/SAC</td>
                    <td rowspan="2">Taxable Value</td>
                    <td colspan="2">Central Tax</td>
                    <td colspan="2">State Tax</td>
                    <td rowspan="2">Total Tax Amount</td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td>Amount</td>
                    <td>Rate</td>
                    <td>Amount</td>
                </tr>
                <tr>
                    <td>998822</td>
                    <td>20561.80</td>
                    <td>6%</td>
                    <td>1233.71</td>
                    <td>6%</td>
                    <td>1233.71</td>
                    <td rowspan="2">2467.42</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>20561.80</td>
                    <td></td>
                    <td>1233.71</td>
                    <td></td>
                    <td>1233.71</td>
                </tr>
                <tr>
                    <td colspan="7">Tax Amount (in workds)<br>INR two thusand four hundred and seven</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <small>
                DECLARATION: We declared that this invoice shows the actual prince of the goods described and that all particulars are true and correct to best of our knowledge.
            </small>
        </div>
        <div class="col text-center">
            <div>For Expert Traders</div>
        </div>
    </div>
    <div class="row">
        <div class="col small">
            <div>Bank Details > Expert Traders</div>
            <div>Union Bank of India, IFSC: UBIN0548936</div>
            <div>A/C No. 489301010033569</div>
            <div>PAN No. AAPPT3833R</div>
        </div>
        <div class="col text-center small">
            <div>Subject to Ahmedabad Jurisdication</div>
            <div>This is a Computer Generated Invoice</div>
        </div>
    </div>
</div>
{% endblock %}
