{% extends 'expert/base.html' %}
{% load static %}

{# blocks changes so that invoice is printed normally without the side navbar interfering #}
{% block custom_js %}
<script>
    $(document).ready(function() {
        $('#main_content').removeClass('col-md-10 col-xl-11 col-9').addClass('col');
        $('#btn-sidebar-expand').hide();

        $('#js-email-form').submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                async: true,
                url: url,
                data: form.serialize(),
                success: function(result) {
                    alert(result['response']);
                }
            });
        });
    });
</script>
{% endblock %}

{% block navbar-side %}
<div class="d-none"></div>
{% endblock %}

{% block custom_css %}
<style>
    .dropdown-form .form-control {
        margin-bottom: 6px;
    }
</style>
{% endblock %}

{% block custom_navbar %}
<li class="nav-item">
    <a class="nav-link btn btn-outline-primary btn-sm mr-1" id="js-btn-print" type="button" href="javascript:window.print();"><i class="fa fa-print"></i> Print</a>
</li>
<li class="nav-item">
    <div class="dropdown dropdown-form">
        <a class="nav-link btn btn-outline-info btn-sm mr-1 dropdown-toggle" href="#" role="button" id="dropdownsendmailform" data-toggle="dropdown">
            Send
        </a>
        <div class="dropdown-menu border border-info dropdown-menu-right">
            <div class="text-center font-weight-bold h5">Send Email</div>
            <div class="dropdown-divider border-info"></div>
            <form class="px-4 py-3" style="width: 500px; height: auto;" id="js-email-form" action="{% url 'expert:email-invoice' pk=invoice.id %}">
                {% csrf_token %}
                <input name="to" type="text" class="form-control" id="id_to" placeholder="Receiptent List (comma seperated)" required>
                <input type="text" name="subject" class="form-control" id="id_subject" placeholder="Subject">
                <textarea type="text" name="message" class="form-control" id="id_message" placeholder="Message" required></textarea>
                <div class="form-control">
                    <i class="fa fa-paperclip" title="Attachment included in Email"></i>
                    <i class="fa fa-file-pdf-o mx-1" title="PDF File"></i>
                    InvoiceBill-{{ invoice.number }}.pdf
                </div>
                <button type="submit" class="btn btn-success my-2 w-100">Send</button>
            </form>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-outline-secondary btn-sm mr-1" type="button" href="{{ invoice.get_absolute_url }}"><i class="fa fa-arrow-left"></i> Back</a>
</li>
{% endblock %}

{% block main_content %}
<div class="container border">
    <div class="row">
        <div class="col">
            <center><b>Tax Invoice</b></center>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div>
                <div><b>EXPERT<span><img class="img-fluid" width="40" height="40" src="{% static 'expert/images/logo.png' %}"></span>TRADERS</b></div>
                <div><small>J-142, Sumel-6, Dhudheshwar, AHM-4 (GUJ)</small></div>
                <div><small class="font-italic">expertcovers2020@gmail.com</small></div>
                <div><small>Ph No. 9839085886</small></div>
                <div><small>GSTN: 24AAPPT3833R1ZT / S-Code 24</small></div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <table class="table table-bordered table-sm">
                <tr>
                    <td>Invoice No.</td>
                    <td class="font-weight-bold h6">{{ invoice.number }}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{ invoice.date_sent|date:"M j, Y" }}</td>
                </tr>
                <tr>
                    <td>Dispatched Through</td>
                    <td>Tempo</td>
                </tr>
                <tr>
                    <td>Motor V.No.</td>
                    <td>{{ invoice.motor_vehicle_number }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div>
                <div><b>To, {{ invoice.challans.first.customer.name }} (100% EOU)</b></div>
                <div><small>{{ invoice.challans.first.customer.address1 }}</small></div>
                <div><small>{{ invoice.challans.first.customer.address2 }}</small></div>
                <div><small>GSTN: {{ invoice.challans.first.customer.gstn }}, IEC: {{ invoice.challans.first.customer.iec }}</small></div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <table class="table table-sm table-bordered">
                <tr>
                    <td>Destination</td>
                    <td>{{ invoice.destination }}</td>
                </tr>
                <tr>
                    <td>Supplier's Ref</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mode of Payment</td>
                    <td>7 Days</td>
                </tr>
                <tr>
                    <td>EWay Bill No.</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                Stiching Job Work on your Material as per details mentioned hereunder
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered text-center">
                <thead>
                    <tr>
                        <th>Challan No.</th>
                        <th>Date</th>
                        <th>HSN/SAC</th>
                        <th>PCS.</th>
                        <th>Max-380</th>
                        <th>Tuff-560</th>
                        <th>Fab</th>
                        <th>Clear</th>
                        <th>Total Sq.Ft.</th>
                        <th>Rate/Sq.Ft.</th>
                        <th>Total Amt.</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for challan in invoice.challans.all %}
                        <tr>
                            <td>{{ challan.number }}</td>
                            <td>{{ challan.date_sent|date:"d.m.y" }}</td>
                            <td>998822</td>
                            <td>{{ challan.get_total_quantity }}</td>
                            <td>{{ challan.get_total_size_by_fabric.max }}</td>
                            <td>{{ challan.get_total_size_by_fabric.tuff }}</td>
                            <td>{{ challan.get_total_size_by_fabric.fab }}</td>
                            <td>{{ challan.get_total_size_by_fabric.clear }}</td>
                            <td>{{ challan.get_total_size }}</td>
                            <td>3.5</td>
                            <td>{{ challan.get_total_value }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="font-weight-bold">
                        <td></td>
                        <td>Total</td>
                        <td></td>
                        <td>{{ invoice.get_total_quantity }}</td>
                        <td>{{ invoice.get_total_size_by_fabric.max }}</td>
                        <td>{{ invoice.get_total_size_by_fabric.tuff }}</td>
                        <td>{{ invoice.get_total_size_by_fabric.fab }}</td>
                        <td>{{ invoice.get_total_size_by_fabric.clear }}</td>
                        <td>{{ invoice.get_total_size }}</td>
                        <td></td>
                        <td>{{ invoice.get_total_value }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="4">Add: CGST</td>
                        <td>6%</td>
                        <td>{{ invoice.get_total_tax.cgst }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="4">Add: SGST</td>
                        <td>6%</td>
                        <td>{{ invoice.get_total_tax.sgst }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="4">Add: Round off</td>
                        <td></td>
                        <td>{{ invoice.get_total_tax.roundoff }}</td>
                    </tr>
                    <tr>
                        <td colspan="10">
                            Amount Chargeble (in words)<br>
                            <b>{{ invoice.get_total_amount.words|title }} Rupees Only</b>
                        </td>
                        <td class="font-weight-bold align-middle h6">{{ invoice.get_total_amount.amount }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered text-center">
                <tr>
                    <td rowspan="2">HSN/SAC</td>
                    <td rowspan="2">Taxable Value</td>
                    <td colspan="2">Central Tax</td>
                    <td colspan="2">State Tax</td>
                    <td rowspan="2">Total Tax Amount</td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td>Amount</td>
                    <td>Rate</td>
                    <td>Amount</td>
                </tr>
                <tr>
                    <td>998822</td>
                    <td>{{ invoice.get_total_value }}</td>
                    <td>6%</td>
                    <td>{{ invoice.get_total_tax.cgst }}</td>
                    <td>6%</td>
                    <td>{{ invoice.get_total_tax.sgst }}</td>
                    <td rowspan="2" class="font-weight-bold align-middle h6">{{ invoice.get_total_tax.total }}</td>
                </tr>
                <tr class="font-weight-bold">
                    <td>Total</td>
                    <td>{{ invoice.get_total_value }}</td>
                    <td></td>
                    <td>{{ invoice.get_total_tax.cgst }}</td>
                    <td></td>
                    <td>{{ invoice.get_total_tax.sgst }}</td>
                </tr>
                <tr>
                    <td colspan="7">
                        Tax Amount (in words)<br>
                        <b>{{ invoice.get_total_tax.total_words|title }} Only</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <small>
                DECLARATION: We declared that this invoice shows the actual prince of the goods described and that all particulars are true and correct to best of our knowledge.
            </small>
        </div>
        <div class="col d-flex justify-content-around">
            <div></div>
            <div>For Expert Traders</div>
        </div>
    </div>
    <div class="row">
        <div class="col small">
            <div>Bank Details > Expert Traders</div>
            <div>Union Bank of India, IFSC: UBIN0548936</div>
            <div>A/C No. 489301010033569</div>
            <div>PAN No. AAPPT3833R</div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <img src="{% static 'expert/images/sign_vinayak.jpg' %}" alt="Vinayak Sign" width="200">
        </div>
    </div>
    <div class="row mt-1">
        <div class="col text-center small">
            <span>Subject to Ahmedabad Jurisdication</span>
            <span>This is a Computer Generated Invoice</span>
        </div>
    </div>
</div>
{% endblock %}
