{% extends 'expert/base.html' %}
{% load static %}
{% load url_replace %}

{% block custom_css %}
<style>
	.dot {
		width:17px;
		height: 17px;
		background-color: black;
		border-radius: 50%;
		display: inline-block;
	}
	.color-gray {background-color: gray;}
    .color-black {background-color: black;}
    .color-beige {background-color: #f0f590;}
    .color-blue {background-color: blue;}
    .color-white {background-color: white;}
    .color-brown {background-color: brown;}
    .color-green {background-color: green;}
    .color-sand {background-color: yellow;}
    .color-gray {background-color: gray;}
    .color-olive_green {background-color: #556b2f;}
    .color-light_sand {background-color: #c2b280;}
    .color-light_gray {background-color: lightgray;}
    .color-coffee_brown {background-color: #4a2c2a;}
    .color-burgundy {background-color: #800020;}
	.color-clear {background-color: clear;}

	#product-table tbody td {
		vertical-align: middle;
	}
	#product-table thead .dropdown-toggle::after {
		content: none;
	}

</style>
{% endblock %}

{% block custom_js %}
<script>
$(document).ready(function() {
	// $('#product-table').DataTable();

	$('a.js-btn-product-complete').on('click', function(e) {
		e.preventDefault();
		//add the spinner to button
		$(this).children().first().removeClass('fa-check').addClass('fa-spinner fa-pulse fa-fw');
		let $this = $(this);
		$.ajax({
			type: "POST",
			url: $(this).attr('href'),
			async: true,
			data: {},
			success: function(result) {
				$this.closest('td').prev().html('Completed');
				$this.closest('td').prev().removeClass('bg-warning').addClass('bg-success text-light');
				$this.addClass('disabled');
				//remove the spinner and re-add the check icon
				$this.children().first().removeClass('fa-spinner fa-pulse fa-fw').addClass('fa-check');
			},
			statusCode: {
				403: function() {
					$this.children().first().removeClass('fa-spinner fa-pulse fa-fw').addClass('fa-check');
					alert('You dont have permission to Complete this Product.');
				}
			}
		});
	});

	$('a.js-btn-product-assign').on('click', function(e) {
		e.preventDefault();
		let $this = $(this);
		$.ajax({
			type: "POST",
			url: $(this).attr('href'),
			async: true,
			data: {},
			success: function(result) {
				// $this.closest('tr').addClass('bg-warning');
				$this.closest('tr').children('.js-td-status').addClass('bg-warning').html('Assigned');
				$this.closest('tr').find('a.js-btn-product-complete').removeClass('disabled');
				$this.closest('div.dropdown').children('button').html(result['assignedto'])
			},
			statusCode: {
				403: function() {
					alert('You dont have permission to Assign this Product.');
				}
			}
		});
	});

	// TODO: Add minDate and maxDate limits for completion date.
	$('#datepicker_product_completion').datepicker({
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonText: ''
	});
	$('.ui-datepicker-trigger').addClass('fa fa-pencil btn btn-sm btn-outline-primary mb-1');
	// $('.ui-datepicker-trigger').hover(function() {
	// 	$(this).removeClass('fa fa-pencil');
	// 	let date = '{% if kit.date_product_completion %}{{ kit.date_product_completion|date:"N j, Y" }}{% else %}{% now "N j, Y" %}{% endif %}'
	// 	$(this).html(date);
	// }, function() {
	// 	$(this).addClass('fa fa-pencil');
	// 	$(this).html('');
	// });
	$('#datepicker_product_completion').on('change', function(e) {
		e.preventDefault();
		let $this = $(this);
		$.ajax({
			type: "post",
			url: $(this).attr('data-href'),
			async: true,
			data: {"date": $(this).val()},
			success: function(result) {
				$this.closest('div').children('span').html(result['date']);
			},
			statusCode: {
				403: function() {
					alert('You dont have permission to Change the Completion date of this KIT.');
				}
			}
		});
	});
});
</script>
{% endblock %}

{% block custom_navbar %}
<li class="nav-item"><a class="nav-link btn btn-outline-primary btn-sm mr-1" type="button" href="{% url 'expert:kit-update' slug=kit.number %}"><i class="fa fa-pencil"></i> Edit</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-danger btn-sm mr-1" type="button" href="{% url 'expert:kit-delete' kit.number %}"><i class="fa fa-trash"></i> Delete</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-info btn-sm mr-1" type="button" href="{% url 'expert:product-create' kit_number=kit.number %}"><i class="fa fa-plus"></i> Add New</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-success btn-sm mr-1" type="button" href="{% url 'expert:challan-init' pk=kit.id %}">Make Challan</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-warning btn-sm mr-1" {% if kit.get_completed_quantity == 0 %}disbaled{% endif %} type="button" href="{% url 'expert:kit-uncomplete' pk=kit.id %}"><i class="fa fa-ban"></i> Cancel Complete</a></li>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
	<div class="heading text-center h3 mt-3 mb-0 pb-0">Overview of KIT {{ kit.number }}</div>
	<div class="text-center small mb-2">{{ kit.date_received }}</div>
	<div class="mt-1 table-responsive">
		<div class="d-flex">
			<div class="mr-auto text-muted">
				Product Completion Date -
				<span class="font-weight-bold">
					{% if kit.date_product_completion %}
					{{ kit.date_product_completion|date:"N j, Y" }}
					{% else %}
					{% now "N j, Y" %}
					{% endif %}
				</span>
				<input type="hidden" id="datepicker_product_completion" data-href="{% url 'expert:kit-change-product-completion' pk=kit.id %}">
			</div>
			<div>Hello</div>
		</div>
		<table class="table table-sm table-hover table-striped text-center" id="product-table">
			<thead class="bg-dark text-light font-weight-bold">
				<tr>
					<th class="text-left">Order #</th>
					<th>Qty</th>
					<th>Size</th>
					<th>
						<div class="dropdown d-inline">
							<button class="p-0 m-0 ml-1 dropdown-toggle bg-transparent border-0 text-light font-weight-bold" type="button" id="dropdownstatussort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Fabric<i class="fa fa-filter ml-2"></i>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownstatussort">
								<a class="dropdown-item" href="?{% url_replace filters='' %}">All</a>
								<a class="dropdown-item" href="?{% url_replace filters='fabric:max' %}">Max</a>
								<a class="dropdown-item" href="?{% url_replace filters='fabric:tuff' %}">Tuff</a>
								<a class="dropdown-item" href="?{% url_replace filters='fabric:fab' %}">Fab</a>
								<a class="dropdown-item" href="?{% url_replace filters='fabric:clear' %}">Clear</a>
							</div>
						</div>
					</th>
					<th>Color</th>
					<th>Assigned To</th>
					<th>Completed By</th>
					<th>Completion Date</th>
					<th>
						<div class="dropdown d-inline">
							<button class="p-0 m-0 ml-1 dropdown-toggle bg-transparent border-0 text-light font-weight-bold" type="button" id="dropdownstatussort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Status<i class="fa fa-filter ml-2"></i>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownstatussort">
								<a class="dropdown-item" href="?{% url_replace filters='' %}">All</a>
								<a class="dropdown-item" href="?{% url_replace filters='status:pending' %}">Pending</a>
								<a class="dropdown-item" href="?{% url_replace filters='status:assigned' %}">Assigned</a>
								<a class="dropdown-item" href="?{% url_replace filters='status:completed' %}">Completed</a>
								<a class="dropdown-item" href="?{% url_replace filters='status:dispatched' %}">Dispatched</a>
								<a class="dropdown-item" href="?{% url_replace filters='status:returned' %}">Returned</a>
							</div>
						</div>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for product in product_list %}
				<tr class="">
					<td class="text-left font-italic"><a href="{{ product.get_absolute_url }}">{{ product.order_number }}</a></td>
					<td>{{ product.quantity }}</td>
					<td>{{ product.size }}</td>
					<td>{{ product.get_fabric_display }}</td>
					<td><span class="dot color-{{ product.color }} align-middle"></span> {{ product.get_color_display }}</td>
					<td>
						<div class="dropdown">
							<button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton-{{ product.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% if product.status == 'pending' %}
								Assign To
								{% else %}
								{{ product.assignedto.username }}
								{% endif %}
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ product.id }}">
								{% for worker in worker_list %}
								<a class="dropdown-item js-btn-product-assign" href="{% url 'expert:product-assign' product_pk=product.id worker_pk=worker.id %}">{{ worker.username }}</a>
								{% endfor %}
							</div>
						</div>
					</td>
					<td>{{ product.completedby.username }}</td>
					<td>{{ product.date_completed }}</td>
					<td class="
					js-td-status
					{% if product.status == 'assigned' %}bg-warning
					{% elif product.status == 'completed' %}bg-success text-light
					{% elif product.status == 'dispatched' %}bg-dark text-light
					{% elif product.status == 'returned' %}bg-danger{% endif %}
					">{{ product.get_status_display }}</td>
					<td class="text-right">
						{% if product.status == 'assigned' %}
						<a href="{% url 'expert:product-complete' product.id %}" class="btn btn-outline-success btn-sm js-btn-product-complete"><i class="fa fa-check fa-lg"></i></a>
						{% else %}
						<a href="{% url 'expert:product-complete' product.id %}" class="btn btn-outline-success btn-sm js-btn-product-complete disabled"><i class="fa fa-check fa-lg"></i></a>
						{% endif %}
						<a href="{% url 'expert:product-delete' product.id %}" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash fa-lg"></i></a>
					</td>

				</tr>
				{% empty %}
				<tr>
					<td colspan="10" class="text-center h5">No Data to display, Please select appropriate filters</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th class="border border-success">{{ kit.quantity }}</th>
					<th class="border border-success">{{ kit.size }} SqFt.</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tfoot>
		</table>
		{% block pagination %}
		{% if is_paginated %}
		<nav aria-label="Pagination Nav">
			<ul class="pagination justify-content-end">
				{% if page_obj.has_previous %}
				<li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">&laquo;</a></li>
				{% else %}
				<li class="page-item disabled"><a href="" class="page-link">&laquo;</a></li>
				{% endif %}
				{% for i in paginator.page_range %}
				{% if page_obj.number == i %}
				<li class="page-item active"><a href="" class="page-link">{{ i }}</a></li>
				{% else %}
				<li class="page-item"><a class="page-link" href="?{% url_replace page=i %}">{{ i }}</a></li>
				{% endif %}
				{% endfor %}
				{% if page_obj.has_next %}
				<li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">&raquo;</a></li>
				{% else %}
				<li class="page-item disabled"><a href="" class="page-link">&raquo;</a></li>
				{% endif %}
			</ul>
		</nav>
		{% endif %}
		{% endblock %}
		<div class="my-4">&nbsp;</div>
		<div class="my-4">&nbsp;</div>
	</div>
</div>
{% endblock %}
