{% extends 'expert/base.html' %}
{% load static %}

{% block main_content %}
<div class="container-fluid">
	<center class="mt-4 h2">Overview of KIT - {{ kit.number }}</center>
	<center class="mt-2 h5">{{ kit.date_received }}</center>
	<table class="table table-sm table-bordered my-4 table-striped">
		<thead>
			<tr>
				<th>Order Number</th>
				<th>Qty (Pcs)</th>
				<th>Size (Sq.Ft.)</th>
				<th>Fabric</th>
				<th>Color</th>
				<th>Assigned To</th>
				<th>Completed By</th>
				<th>Completion Date</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for product in kit.products.all %}
			<tr class="{% if product.status == 'assigned' %}bg-warning{% elif product.status == 'completed' %}bg-success{% elif product.status == 'returned' %}bg-danger{% elif product.status == 'dispatched' %}bg-secondary{% endif %}">
				<td><a href="{{ product.get_absolute_url }}">{{ product.order_number }}</a></td>
				<td>{{ product.quantity }}</td>
				<td>{{ product.size }}</td>
				<td>{{ product.get_fabric_display }}</td>
				<td>{{ product.get_color_display }}</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton-{{ product.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{% if product.status == 'pending' %}
							Assign To
							{% else %}
							{{ product.assignedto.get_fullname }}
							{% endif %}
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ product.id }}">
							{% for worker in worker_list %}
							<a class="dropdown-item" href="{% url 'expert:product-assign' product_pk=product.id worker_pk=worker.id %}">{{ worker.get_fullname }}</a>
							{% endfor %}
						</div>
					</div>
				</td>
				<td>{{ product.completedby.get_fullname }}</td>
				<td>{{ product.date_completed }}</td>
				<td>{{ product.get_status_display }}</td>
				<td>
					{% comment %}
					<a href="{% url 'expert:product-update' product.id %}" class="btn btn-secondary">Edit</a>
					{% endcomment %}
					{% if product.status == 'completed' %}
					<a href="" class="btn btn-success disabled" title="Product already completed">Complete</a>
					{% elif product.status == 'pending' %}
					<a href="" class="btn btn-success disabled" title="Product is not assigned to any worker">Complete</a>
					{% elif product.status == 'dispatched' %}
					<a href="" class="btn btn-success disabled" title="Product is already dispatched">Complete</a>
					{% else %}
					<a href="{% url 'expert:product-complete' product.id %}" class="btn btn-success">Complete</a>
					{% endif %}
					<a href="{% url 'expert:product-delete' product.id %}" class="btn btn-danger">Delete</a>
				</td>

			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<th>{{ kit.get_total_quantity }}</th>
				<th>{{ kit.get_total_size }} SqFt.</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</tfoot>
	</table>
	<a href="{% url 'expert:kit-list' %}" class="btn btn-primary">Back</a>
	<a href="{% url 'expert:product-create' %}" class="btn btn-success">Add New</a>
	<a href="{% url 'expert:kit-delete' kit.number %}" class="btn btn-warning">Delete</a>
	{# TODO: check if this kit has non zero number of completed products #}
	<a href="{% url 'expert:challan-init' pk=kit.id %}" class="btn btn-primary">Make Delivery Challan</a>
	<div class="my-3 py-4"></div>
	<table class="table">
		<tr>
			<td>Original kit summary</td>
			{% if kit.original_kit_summary %}
			<td><img src="{{ kit.original_kit_summary.url }}" alt="Original KIT Summary Image" width="200" height="200"></td>
			{% else %}
			<td>Image Not Uploaded</td>
			{% endif %}
		</tr>
		<tr>
			<td>Jobwork Challan</td>
			{% if kit.jobwork_challan %}
			<td><img src="{{ kit.jobwork_challan.url }}" alt="Jobwork Challan" width="200" height="200"></td>
			{% else %}
			<td>Image Not Uploaded</td>
			{% endif %}
		</tr>
		<tr>
			<td>Jobwork GatePass</td>
			{% if kit.jobwork_gatepass %}
			<td><img src="{{ kit.jobwork_gatepass.url }}" alt="Jobwork GatePass" width="200" height="200"></td>
			{% else %}
			<td>Image Not Uploaded</td>
			{% endif %}
		</tr>
		<tr>
			<td>E-Way Bill</td>
			{% if kit.ewaybill %}
			<td><img src="{{ kit.ewaybill.url }}" alt="E-Way Bill" width="200" height="200"></td>
			{% else %}
			<td>Image Not Uploaded</td>
			{% endif %}
		</tr>
	</table>
	<a href="{% url 'expert:kit-update' kit.id %}" class="btn btn-primary">Edit</a>
</div>
{% endblock %}
