{% extends 'expert/base.html' %}
{% load static %}

{% block main_content %}
<div class="container p-0">
	<div class="p-3 h2 text-center m-0">
		List of Kits
	</div>
	<div class="row mt-3">
		<div class="list-group w-50 mx-auto">
			{% for kit in kit_list %}
				<a href="{{ kit.get_absolute_url }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" title="{{ kit.get_total_size }} Sq.Ft.">
					{{ kit.number }} <span class="small text-secondary">{{ kit.date_received|date:"d M Y" }}</span>
					<span class="badge badge-warning badge-pill">{{ kit.get_pending_quantity }}</span>
				</a>
			{% endfor %}
			<a href="{% url 'expert:kit-create' %}" class="list-group-item list-group-item-action text-center list-group-item-info">Add New</a>
		</div>
	</div>
</div>
{% endblock %}
