{% extends 'expert/base.html' %}
{% load static %}

{% block custom_js %}
<script>
	//TODO: change the method with which the data is transfered b/w django and js
	$(document).ready(function() {
		var ctx = document.getElementById('report-monthly-chart').getContext('2d');
		var config = {
			type: 'line',
			data: {
				labels: {{ chart_data.date_list|safe }},
				datasets: [{
					label: 'Completed',
					backgroundColor: 'rgb(0,123,255)',
					borderColor: 'rgb(0,123,255)',
					data: {{ chart_data.product_completed|safe }},
					fill: false,
				}, {
					label: 'Returned',
					backgroundColor: 'rgb(220,53,69)',
					borderColor: 'rgb(220,53,69)',
					data: {{ chart_data.product_returned|safe }},
					fill: false,
				}]
			},
			options: {
				responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true,
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Day'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Product Completed'
						}
					}]
				}
			}
		};
		var chart = new Chart(ctx, config);
	});
</script>
{% endblock %}

{% block main_content %}
<div>
	<div class="header-cards" style="font-size: 1rem;">
		<div class="card-deck mx-3 text-center">
			<div class="card border border-primary shadow">
				<div class="card-header bg-primary text-light">
					Kits Received
				</div>
				<div class="card-body">
					<p class="card-text">{{ kit_list.count }}</p>
				</div>
			</div>
			<div class="card border border-primary shadow">
				<div class="card-header bg-primary text-light">
					Products Received
				</div>
				<div class="card-body">
					<p class="card-text">{{ total_product_received|floatformat:2 }} Sq.Ft.</p>
				</div>
			</div>
			<div class="card border border-warning shadow">
				<div class="card-header bg-success text-light">
					Products Completed ({{ product_completed_percent }}%)
				</div>
				<div class="card-body">
					<p class="card-text">{{ total_product_completed|floatformat:2 }} Sq.Ft.</p>
				</div>
			</div>
			<div class="card border border-danger shadow">
				<div class="card-header bg-danger text-light">
					Products Returned ({{ product_returned_percent }}%)
				</div>
				<div class="card-body">
					<p class="card-text">{{ total_product_returned|floatformat:2 }} Sq.Ft.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="main-chart mt-4">
		<canvas id="report-monthly-chart" class="w-100 border border-red" height="400"></canvas>
	</div>
	<div class="my-3">
		<div class="table-responsive">
			<table class="table table-striped table-hover table-bordered text-center">
				<thead>
					<tr>
						<th colspan="7" class="bg-dark text-light font-weight-bold h5">Kit Production Stats</th>
					</tr>
					<tr>
						<th></th>
						<th>Kit #</th>
						<th>Date Received</th>
						<th>Received</th>
						<th>Completed</th>
						<th>Returned</th>
						<th>Dispatched</th>
					</tr>
				</thead>
				<tbody>
					{% for kit in kit_list %}
					<tr>
						<td class="text-left">{{ forloop.counter }}</td>
						<td><a href="{{ kit.get_absolute_url }}">{{ kit.number }}</a></td>
						<td>{{ kit.date_received }}</td>
						<td>{{ kit.size }}</td>
						<td>{{ kit.size_detail.completed }}</td>
						<td>{{ kit.size_detail.returned }}</td>
						<td>{{ kit.size_detail.dispatched }}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th>{{ total_product_received|floatformat:2 }}</th>
						<th>{{ total_product_completed|floatformat:2 }}</th>
						<th>{{ total_product_returned|floatformat:2 }}</th>
						<th>{{ total_product_dispatched|floatformat:2 }}</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="my-3">
		<div class="table-responsive">
			<table class="table table-hover table-bordered table-striped text-center">
				<thead>
					<tr>
						<th colspan="4" class="font-weight-bold bg-dark text-light h5">Worker Production Stats</th>
					</tr>
					<tr>
						<th></th>
						<th>Worker</th>
						<th>Product Completed</th>
						<th>Returned (Fault)</th>
					</tr>
				</thead>
				<tbody>
					{% for data in worker_list %}
					<tr>
						<td class="text-left">{{ forloop.counter }}</td>
						<td><a href="{{ data.worker.get_absolute_url }}">{{ data.worker.username }}</a></td>
						<td>{{ data.completed }}</td>
						<td>{{ data.returned }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

<div class="container-fluid mt-3">
	<center class="my-4 h2">{{ month|date:"F Y" }}</center>
	{# TODO: Add the if condition for previous_month and next_month #}
	<div class="row my-2">
		<div class="col text-left">
			<a href="{% url 'expert:report-monthly' previous_month|date:'Y' previous_month|date:'M' %}" class="btn btn-outline-info"><< {{ previous_month|date:"F Y" }}</a>
		</div>
		<div class="col text-right">
			<a href="{% url 'expert:report-monthly' next_month|date:'Y' next_month|date:'M' %}" class="btn btn-outline-info">{{ next_month|date:"F Y" }} >></a>
		</div>
	</div>
	<table class="table table-striped table-sm table-hover">
		<thead>
			<tr>
				<th><a href="#" class="btn btn-link">Date</a></th>
				{% for worker in worker_list %}
				<th class="text-center"><a href="{{ worker.get_absolute_url }}" class="btn btn-link">{{ worker.fullname }}</a></th>
				{% endfor %}
				<th class="text-center"><a href="#" class="btn btn-link">Total</a></th>
			</tr>
		</thead>
		<tbody>
			{% for date_object in date_list %}
			<tr>
				<th><a href="{% url 'expert:report-daily' month|date:'Y' month|date:'M' date_object.date.day %}">{{ date_object.date }}</a></th>
				{% for wc in date_object.contributions %}
				{% if wc %}
				<td class="text-center {% if forloop.last %}bg-dark text-light{% endif %}">{{ wc|floatformat:2 }}</td>
				{% else %}
				<td class="text-muted small text-center">0</td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr class="bg-dark text-light">
				<th>Total</th>
				{% for w in worker_total %}
				<th class="text-center">{{ w|floatformat:2 }}</th>
				{% endfor %}
			</tr>
		</tfoot>
	</table>
	{% comment %}
	<ul>
		{% for product in object_list %}
		<li>{{ product.date_completed|date:"F j, Y" }}: {{ product.order_number }}</li>
		{% endfor %}
	</ul>
	{% endcomment %}
</div>