{% extends 'expert/base.html' %}
{% load static %}

{% block main_content %}
<div class="container">
	<center class="mt-4 h2">Create a new Product</center>
	<form method="post" novalidate>
		{% csrf_token %}
		<table class="table">
			{{ form.as_table }}
		</table>
		<button type="submit" class="btn btn-success">Save</button>
		<button type="submit" class="btn btn-info" name="save_add_another">Save and Add Another</button>
	</form>
	<a href="{% url 'expert:kit-detail' slug=kit_number %}" class="btn btn-info">Back</a>
</div>
{% endblock %}
