{% extends 'expert/base.html' %}
{% load static %}

{% block custom_navbar %}
<li class="nav-item"><a class="nav-link btn btn-outline-primary btn-sm mr-1" type="button" href="{% url 'expert:product-update' pk=product.id %}"><i class="fa fa-pencil"></i> Edit</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-secondary btn-sm mr-1" type="button" href="{{ product.kit.get_absolute_url }}"><i class="fa fa-arrow-left"></i> Back</a></li>
{% endblock %}

{% block main_content %}
<div class="container col-lg-8">
    <center class="mt-4 h4">Overview of Product</center>
    <div class="row my-2">
        <div class="col">
            <table class="table">
                <tr>
                    <td>Product Number</td>
                    <td>{{ product.order_number }}</td>
                </tr>
                <tr>
                    <td>Product Quantity</td>
                    <td>{{ product.quantity }}</td>
                </tr>
                <tr>
                    <td>Product Size</td>
                    <td>{{ product.size }} Sq.Ft.</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ product.get_status_display }}</td>
                </tr>
                <tr>
                    <td>Assigned To</td>
                    <td><a href="{{ product.assignedto.get_absolute_url }}">{{ product.assignedto.username }}</a></td>
                </tr>
                <tr>
                    <td>Completed By</td>
                    <td>{{ product.completedby.username }}</td>
                </tr>
                <tr>
                    <td>Date of Completion</td>
                    <td>{{ product.date_completed }}</td>
                </tr>
                {% if product.return_remark %}
                <tr>
                    <td>Return Remark</td>
                    <td>{{ product.get_return_remark_display }}</td>
                </tr>
                {% endif %}
                {% if product.is_dispatched %}
                <tr class="text-center">
                    <th colspan="2">Dispatch Details</th>
                </tr>
                <tr>
                    <td>Dispatched Date</td>
                    <td>{{ product.challan.date_sent }}</td>
                </tr>
                <tr>
                    <td>Via Challan</td>
                    <td><a href="{{ product.challan.get_absolute_url }}">{{ product.challan.number }}</a></td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}