{% extends 'expert/base.html' %}
{% load static %}

{% block main_content %}
<a href="{% url 'expert:index' %}" class="btn btn-primary">Home</a>
<div class="container mt-3">
	<center class="my-4 h2">{{ day }}</center>
	{# TODO: Add the if condition for previous_month and next_month #}
	<div class="row my-2">
		<div class="col text-left">
			<a href="{% url 'expert:report-daily' previous_day|date:'Y' previous_day|date:'M' previous_day|date:'j' %}" class="btn btn-sm btn-outline-info"><< {{ previous_day|date:"F j, Y" }}</a>
		</div>
		<div class="col text-right">
			<a href="{% url 'expert:report-daily' next_day|date:'Y' next_day|date:'M' next_day|date:'j' %}" class="btn btn-sm btn-outline-info">{{ next_day|date:"F j, Y" }} >></a>
		</div>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Order Number</th>
				{% for worker in worker_list %}
				<th class="text-center"><a href="{{ worker.get_absolute_url }}">{{ worker.get_fullname }}</a></th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for product in object_list %}
			<tr>
				<td><a href="{{ product.get_absolute_url }}">{{ product.order_number }}</a></td>
				{% for worker in worker_list %}
				{% if worker == product.completedby %}
				<td class="bg-success text-center">{{ product.size }}</td>
				{% else %}
				<td></td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<p>
		<a href="{% url 'expert:report-monthly' day|date:'Y' day|date:'M' %}" class="btn btn-outline-primary">Monthly Report - {{ day|date:"F Y" }}</a>
	</p>
</div>
{% endblock %}
