{% extends 'expert/base.html' %}
{% load static %}

{% block main_content %}
<a href="{% url 'expert:index' %}" class="btn btn-primary">Home</a>
<div class="container mt-3">
	<center class="my-4 h2">{{ day }}</center>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Order Number</th>
				{% for worker in worker_list %}
				<th class="text-center">{{ worker.get_fullname }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for product in object_list %}
			<tr>
				<td><a href="{{ product.get_absolute_url }}">{{ product.order_number }}</a></td>
				{% for worker in worker_list %}
				{% if worker == product.completedby %}
				<td class="bg-success text-center">{{ product.size }}</td>
				{% else %}
				<td></td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<p>
		{% if previous_day %}
		Previous Day: {{ previous_day }}
		{% endif %}
		{% if previous_day and next_day %}--{% endif %}
		{% if next_day %}
		Next Day: {{ next_day }}
		{% endif %}
	</p>
</div>
{% endblock %}
