{% extends 'expert/base.html' %}
{% load static %}

{% block custom_navbar %}
<li class="nav-item"><a class="nav-link btn btn-outline-primary btn-sm mr-1" type="button" href="{% url 'expert:product-update' pk=product.id %}"><i class="fa fa-pencil"></i> Edit</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-secondary btn-sm mr-1" type="button" href="{{ product.kit.get_absolute_url }}"><i class="fa fa-arrow-left"></i> Back</a></li>
{% endblock %}

{% block custom_js %}
<script>
    $(document).ready(function() {
    	$('a.js-btn-product-uncomplete').on('click', function(e) {
    		e.preventDefault();
    		let $this = $(this);
    		$.ajax({
    			type: "POST",
    			url: $(this).attr('href'),
    			async: true,
    			data: {},
    			success: function(result) {
                    location.reload(true);
    			},
    			statusCode: {
    				403: function() {
    					alert('You dont have permission to UnComplete this Product.');
    				},
    				400: function() {
    					alert('Server was not able to UnComplete this product.')
    				}
    			}
    		})
    	});
    	$('a.js-btn-product-assign').on('click', function(e) {
    		e.preventDefault();
    		let $this = $(this);
    		$.ajax({
    			type: "POST",
    			url: $(this).attr('href'),
    			async: true,
    			data: {},
    			success: function(result) {
                    location.reload(true);
    			},
    			statusCode: {
    				403: function() {
    					alert('You dont have permission to Assign this Product.');
    				}
    			}
    		});
    	});
    	$('a.js-btn-product-complete').on('click', function(e) {
    		e.preventDefault();
    		let $this = $(this);
    		$.ajax({
    			type: "POST",
    			url: $(this).attr('href'),
    			async: true,
    			data: {},
    			success: function(result) {
                    location.reload(true);
    			},
    			statusCode: {
    				403: function() {
    					alert('You dont have permission to Complete this Product.');
    				},
    				400: function() {
    					alert('Server was not able to Complete this product.')
    				}
    			}
    		});
    	});
    });
</script>
{% endblock %}

{% block custom_css %}
<style>
	.scrollable-dropdown-menu {
		height: auto;
		max-height: 250px;
		overflow-x: hidden;
	}
</style>
{% endblock %}

{% block main_content %}
<div class="container col-lg-8">
    <center class="mt-4 h4">Overview of Product</center>
    <div class="row my-2">
        <div class="col">
            <table class="table">
                <tr>
                    <td>Product Number</td>
                    <td>{{ product.order_number }}</td>
                </tr>
                <tr>
                    <td>Product Quantity</td>
                    <td>{{ product.quantity }}</td>
                </tr>
                <tr>
                    <td>Product Size</td>
                    <td>{{ product.size }} Sq.Ft.</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ product.get_status_display }}</td>
                </tr>
                <tr>
                    <td>Assigned To</td>
                    <td><a href="{{ product.assignedto.get_absolute_url }}">{{ product.assignedto.username }}</a></td>
                </tr>
                <tr>
                    <td>Completed By</td>
                    <td>{{ product.completedby.username }}</td>
                </tr>
                <tr>
                    <td>Date of Completion</td>
                    <td>{{ product.date_completed }}</td>
                </tr>
                <tr>
                    <td>Additional Remarks</td>
                    <td>{{ product.remark }}</td>
                </tr>
                {% if product.return_remark %}
                <tr>
                    <td>Return Remark</td>
                    <td>{{ product.get_return_remark_display }}</td>
                </tr>
                {% endif %}
                {% if product.is_dispatched %}
                <tr class="text-center">
                    <th colspan="2">Dispatch Details</th>
                </tr>
                <tr>
                    <td>Dispatched Date</td>
                    <td>{{ product.challan.date_sent }}</td>
                </tr>
                <tr>
                    <td>Via Challan</td>
                    <td><a href="{{ product.challan.get_absolute_url }}">{{ product.challan.number }}</a></td>
                </tr>
                {% endif %}
                <tr>
                    <td>Actions</td>
                    <td>
                        {% if product.is_pending or product.is_assigned %}
						<div class="dropdown d-inline">
							<button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton-{{ product.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% if product.is_pending %}
								Assign To
								{% else %}
								{{ product.assignedto.username }}
								{% endif %}
							</button>
							<div class="dropdown-menu scrollable-dropdown-menu" aria-labelledby="dropdownMenuButton-{{ product.id }}">
								{% if product.is_assigned %}
								<a class="dropdown-item" href="{% url 'expert:product-assign' product_pk=product.pk worker_pk=0 %}">---</a>
								{% endif %}
								{% for worker in worker_list %}
								<a class="dropdown-item js-btn-product-assign" href="{% url 'expert:product-assign' product_pk=product.id worker_pk=worker.id %}">{{ worker.username }}</a>
								{% endfor %}
							</div>
                        </div>
                        {% if product.is_assigned %}
						<a href="{% url 'expert:product-complete' product.id %}" class="btn btn-sm btn-outline-success js-btn-product-complete"><i class="fa fa-check fa-lg"></i> Complete</a>
                        {% endif %}
                        {% elif product.is_dispatched %}
                        --
                        {% elif product.is_completed %}
						<a href="{% url 'expert:product-uncomplete' product.id %}" class="btn btn-outline-warning btn-sm js-btn-product-uncomplete" title="UnComplete the Product"><i class="fa fa-ban fa-lg"></i> UnComplete</a>
                        {% elif product.is_returned %}
                        --
                        {% else %}
                        --
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}