{% extends 'expert/base.html' %}
{% load static %}

{% block main_content %}
<div class="container">
	<center class="mt-4 h2">Overview of Worker{# - {{ worker.get_fullname }}#}</center>
	<div class="row py-4">
		<div class="col-6">
			<div class="image_container">
				{% if worker.photo %}
				<img class="img-fluid" alt="worker photo" src="{{ worker.photo.url }}" width="200" height="200">
				{% else %}
				<img class="img-fluid" src="{% static 'expert/images/default_user_image.jpg' %}" width="200" height="200">
				{% endif %}
			</div>
		</div>
		<div class="col-6">
			<span class="h3">{{ worker.get_fullname }}</span>
			<br>
			<small>Joined since - {{ worker.date_joined }}</small>
		</div>
	</div>
	<div class="row">
		<div class="col">
			Contributions for the day
			<div class="accordion" id="accordionExample">
				{% for kit in data %}
				<div class="card">
					<div class="card-header" id="heading-{{ kit.object.number }}">
						<h2 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ kit.object.number }}" aria-expanded="true" aria-controls="collapse-{{ kit.object.number }}">
								{{ kit.object.number }}-{{ kit.products_attached.count }} ({{ kit.object.date_received }}) -- {{ kit.total_kit_contribution|floatformat:2 }}
							</button>
						</h2>
					</div>

					<div id="collapse-{{ kit.object.number }}" class="collapse hide" aria-labelledby="heading-{{ kit.object.number }}" data-parent="#accordionExample">
						<div class="card-body">
							<ul>
								{% for product in kit.products_attached %}
								<li>{{ product.order_number }} - {{ product.size }}</li>
								{% endfor %}
							</ul>
						</div>
					</div> 
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="mt-4">
		<a href="{% url 'expert:worker-list' %}" class="btn btn-primary">Back</a>
		<a href="{% url 'expert:worker-update' pk=worker.id %}" class="btn btn-info">Edit</a>
		<a href="{% url 'expert:worker-delete' pk=worker.id %}" class="btn btn-danger">Delete</a>
	</div>
</div>
{% endblock %}