{% extends 'expert/base.html' %}
{% load static %}

{% block custom_navbar %}
<div class="navbar-nav">
	<a class="btn btn-outline-secondary btn-sm mr-1" type="button" href="{% url 'expert:worker-list' %}"><i class="fa fa-arrow-left"></i> Back</a>
</div>
{% endblock %}

{% block main_content %}
<div class="container">
	<center class="mt-4 h2">Create a new Worker</center>
	<form method="post" novalidate>
		{% csrf_token %}
		<table class="table">
			{{ form.as_table }}
		</table>
		<button type="submit" class="btn btn-success">Save</button>
	</form>
</div>
{% endblock %}