{% extends 'expert/base.html' %}
{% load static %}

{% block custom_navbar %}
<li class="nav-item"><a class="nav-link btn btn-outline-primary btn-sm mr-1" type="button" href="{% url 'expert:worker-update' pk=worker.id %}"><i class="fa fa-pencil"></i> Edit</a></li>
<li class="nav-item"><a class="nav-link btn btn-outline-danger btn-sm mr-1" type="button" href="{% url 'expert:worker-delete' pk=worker.id %}"><i class="fa fa-trash"></i> Delete</a></li>
{% endblock %}

{% block main_content %}
<div class="container">
	<center class="mt-4 h2">Overview of Worker{# - {{ worker.fullname }}#}</center>
	<div class="row py-4">
		<div class="col-6">
			<div class="image_container">
				{% if worker.photo %}
				<img class="img-fluid" alt="worker photo" src="{{ worker.photo.url }}" width="200" height="200">
				{% else %}
				<img class="img-fluid" src="{% static 'expert/images/default_user_image.jpg' %}" width="200" height="200">
				{% endif %}
			</div>
		</div>
		<div class="col-6">
			<span class="h3">{{ worker.fullname }}</span>
			<br>
			<small>Joined since - {{ worker.date_joined }}</small>
			<br>
			<span>{{ worker.address }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="table-responsive">
				<table class="table table-hover table-sm table-bordered table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Product #</th>
							<th>Date</th>
							<th>Size</th>
						</tr>
					</thead>
					<tbody>
						{% for kit in kit_list %}
						<tr>
							<th colspan="4" class="text-center font-weight-bold h5">
								<a href="{{ kit.get_absolute_url }}">{{ kit.number }}</a>
							</th>
						</tr>
						{% for product in products_completed %}
						{% if product.kit.number == kit.number %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>
								<a href="{{ product.get_absolute_url }}">{{ product.order_number }}</a>
							</td>
							<td>{{ product.date_completed }}</td>
							<td>{{ product.size }}</td>
						</tr>
						{% endif %}
						{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			Contributions for the day
			<div class="accordion" id="accordionExample">
				{% for kit in data %}
				<div class="card">
					<div class="card-header" id="heading-{{ kit.object.number }}">
						<h2 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ kit.object.number }}" aria-expanded="true" aria-controls="collapse-{{ kit.object.number }}">
								{{ kit.object.number }}-{{ kit.products_attached.count }} ({{ kit.object.date_received }}) -- {{ kit.total_kit_contribution|floatformat:2 }}
							</button>
						</h2>
					</div>

					<div id="collapse-{{ kit.object.number }}" class="collapse hide" aria-labelledby="heading-{{ kit.object.number }}" data-parent="#accordionExample">
						<div class="card-body">
							<ul>
								{% for product in kit.products_attached %}
								<li>{{ product.order_number }} - {{ product.size }}</li>
								{% endfor %}
							</ul>
						</div>
					</div> 
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}